<!DOCTYPE html>

<html lang="ko">
<head>
  <meta charset="UTF-8">

  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>품목 상세</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

</head>
<body>
<div class="container">
  <h1 class="mt-5">품목 상세</h1>
  <div class="card mt-3">
    <div class="card-header">
      <h2 th:text="${item.name}">예시 품목명</h2>
    </div>
    <div class="card-body">
      <p><strong>유형:</strong> <span th:text="${item.type}">예시 유형</span></p>
      <p><strong>규격:</strong> <span th:text="${item.spec}">예시 규격</span></p>
      <p><strong>단위:</strong> <span th:text="${item.unit}">예시 단위</span></p>
      <p><strong>가격:</strong> <span th:text="${item.price}">100.00</span></p>
      <p><strong>등록일:</strong>
        <span th:text="${#dates.format(item.create_date, 'yyyy년 MM월 dd일 E요일')}">
           2024년 08월 23일 금요일
         </span>
      </p>
      <a href="/item/itemList" class="btn btn-secondary">목록으로 돌아가기</a>
    </div>
  </div>
</div>
</body>
</html>
